<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="FormsPetLove.Properties.Settings.PetLoveConnectionString"
            connectionString="Data Source=OSA0716350W11-1\SQLEXPRESS;Initial Catalog=PetLove;Integrated Security=True;Encrypt=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>